<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="/CSS/main.css" />
    <link rel="stylesheet" href="/CSS/table.css" />
</head>
<body>
    <div id="nav">
        <div id="left">
            <h2>MULTIPLEX CORP.</h2>
        </div>
        <div id="right">
            <a href="/"><i class="ri-home-fill"></i></i>Home</a>
            <a href="/add"><i class="ri-user-fill"></i>Add User+</a>
            <a href=""><i class="ri-global-line"></i>About</a>
            <a href=""><i class="ri-contacts-book-2-line"></i>Contacts</a>
        </div>
    </div>